# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  version:
    runs-on: ubuntu-latest
    steps:
      - name: Show gh version
        run: |
          gh --version
          df -h
          dd if=/dev/zero of=20gb.img bs=1 count=0 seek=20G
          echo "check"
          df -h
          
